* {
    list-style: none;
}

.basamak {
    padding: 50px;
    font-size: 16px;
    margin: 0 auto;
    overflow: auto;
}
.basamak ul {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 300ms visibility, 300ms transform, 300ms opacity;
}
.basamak ul li {
    flex: 1;
    text-align: center;
    padding: 0 10px;
    position: relative;
}
.basamak ul:first-child {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.basamak ul li input {
    display: none;
}
.basamak ul li::before {
    content: '';
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
}
.basamak ul li:first-child::before {
    left: 50%;
}
.basamak ul li:last-child::before {
    right: 50%;
}
.basamak ul li label {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 2em;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}
.basamak ul li label::after,
.basamak ul li label::before {
    content: '';
    width: 2px;
    position: absolute;
    top: calc(-1em - 2px);
    height: 1em;
    left: 50%;
    transition: 300ms all;
    background: #000;
}
.basamak ul li label::after {
    top: auto;
    bottom: calc(-1em - 2px);
    height: 0;
}
.basamak ul li label:last-child::after {
    display: none;
}
.basamak >ul >li >label::before {
    display: none;
}
.basamak ul li input:checked + label {
    color: darkorange;
}
.basamak ul li input:checked + label::after {
    height: 1em;
}
.basamak ul li input:checked + label + ul {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}