@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid white;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: calc(5px * 2);
  border: 2px solid rgba(26, 26, 26, 0);
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  width: calc(5px / 2);
  border: 2px solid rgba(26, 26, 26, 0);
}

body {
  scrollbar-face-color: white;
  scrollbar-track-color: transparent;
}

.metin {
  background: #464646;
  font-family: "Muli", sans-serif;
  font-size: 10pt;
  padding-left: 20px;
  line-height: 1.9;
}

.code {
  font-family: "Muli", sans-serif;
  font-size: 10pt;
}

.repo {
  
}


  div {
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

  }

body {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Muli", sans-serif;
  background: #333;
  overflow-x: hidden;
}
body h1 {
  padding: 0.5em;
}
body .search {
  margin-left: 2em;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 0;
}
body .sort {
  margin: 0 0.5em;
  cursor: pointer;
}
body .sort:after {
  content: "↓";
  opacity: 0;
  display: inline-block;
  margin-left: 0.5em;
  transition: all 0.5s ease;
}
body .sort.asc:after {
  opacity: 1;
  transform: rotate(0);
}
body .sort.desc:after {
  opacity: 1;
  transform: rotate(-180deg);
}
body .snippet {
  width: 100%;
  height: auto;
  padding: 1em;
  transition: all 0.5s ease;
}
body .snippet summary {
  cursor: pointer;
  outline: none;
}
body .message {
  position: absolute;
  right: 0.5vw;
  top: 1vw;
  max-width: 25vw;
  font-size: 0.75em;
  font-family: "Open Sans", sans-serif;
  color: white;
}
body .message a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}
body .message a:hover {
  border-width: 3px;
}








/*.Navigatör menü css.*/
@charset "UTF-8";
/* 
$content-width will be the max width of the content within the navigation bar. 
$breakpoint determines at which width the media query breakpoint will take effect.
*/

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #463f3f;
  text-decoration: none;
  /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}
nav ul li a:hover {
  background: #f2f2f2;
  color: #fb5958;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: #ffffff;
}

/*.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
.brand {
  position: absolute; 
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}
/*.Navigatör menü css.*/